body {
  background-color: #ffd3f1;
}

.textstyle {
  font-family: Rubik;
  text-align: center;
}

.smalltext {
  font-size: 40px;
}

#page_container {
  display: flex;
}

.side_containers {
  display: flex;
  flex-direction: column;
}

#jobs {
  height: 49.1vh;
  min-width: 25vw;
}

#merch {
  height: 49.1vh;
  min-width: 25vw;
}

.center  {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  text-align: center;
}

#buttonsDiv {
  float: right;
  margin-right: 500px;
}

.WaifuButtons {
  height: 130px;
  width: 130px;
  border-radius: 30px;
  border: 3px solid #e20f92;
}

#pricesDiv {
  float: left;
  width: 500px;
}

#filemenu {
  float: right;
  margin-top: -13px;
  position: absolute;
  top: 0px;
  right: 7.5px;
}

#incrementor {
  max-width: 400px;
  max-height: 200px;
}

#left_container {
  border-right: 5px solid black;
}

#right_container {
  border-left: 5px solid black;
}

#middle_container {
  width: 50vw;
  
}

#skills {
  height: 45vh;
  min-width: 25vw;
}

#waifus {
  height: 45vh;
  min-width: 25vw;
  font-size: 20px;
}
